@import url('fonts.css');
::placeholder {
  color: #666;
}
}
html, root, *, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
}
body {
  font-family: ;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  top: 0;
  color: #fff1d7;
  text-align: center;
  background-color: #314550;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  font-family: Montserrat;
  font-size: 200%;
  padding: 1em;
  line-height: 1.5em;
  text-align: left;
  margin; 0;
  padding-left: 0;
  color: #5b9;
}

h2 {
  border-top: 5px solid #fff1d7;
  padding-top: 1em;
}

p {
  line-height: 2em;
  font-family: Open Sans;
  text-align: left;
}

#form {
  min-width: 10em;
  max-width: 80%;
  margin: auto;
  padding: 1em;
  min-height: 80%;
}
button {
  background-color:  #5b9;
  border: 0;
  width: 30%;
  line-height: 2em;
}

input {
  font-size: 120%;
  max-width: 70%;
  margin: 1em;
  line-height: 2em;
  border: 0;
  border-bottom: 3px solid #fff;
  text-align: center;
  color: #000;
}

.radios {
  text-align: left;
  margin: auto;
  background-color: #fff1;
  padding: 1em;
}

.radios label {
  color: #;
}

.hidden {
  display: none;
}

h2 {
  color: #5b9;
  line-height: 1.5em;
  text-align: left;
}
textarea {
  background-color: #f1efe6;
  min-height: 10em;
  min-width: 20em;
  text-align: left;
  border: 5px solid #5b9;
}

a {
  text-decoration: none;
  color: #5b9;
}

#verify {
  background-color: #f1efe6;
  max-width: 30em;
  margin: auto;
  border: 10px solid #5b9;
  padding-top: 1em;
  padding-bottom: 1em;
}
#verify p {
  font-size: 12px;
  text-align: center;
}

#verify input {
  color: #000;
  background-color: #f1efe6;
  border-color: #314550;
}

h1.frontpage {
  font-size: 300%;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

h3 {
  color: #314550;
  font-family: Montserrat;
  font-size: 200%;
}

button:disabled {
  color: #5b9;
}

input[type="submit"] {
  border: 2px solid #5b9;
  background-color: #fff1d7;

  margin: 0;
}
input[type="submit"]:hover {
  background-color: #5b9;
  color: #fff1d7;
  border-color: #fff1d7;
}

.buttons {
  text-align: center;
  background-color: #fff1;
  padding: 1em;
}

.buttons input[type="submit"] {
    width: 2em;
}
  
}