@import url('fonts.css');
::placeholder {
  color: #bbb;
}
}
html, root, *, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
}
body {
  font-family: ;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  top: 0;
  text-align: center;
}
h1 {
  font-family: Montserrat;
  font-size: 200%;
  padding: 1em;
  line-height: 1.5em;
}

p {
  line-height: 2em;
}

#form {
  min-width: 10em;
  max-width: 80%;
  margin: auto;
  padding: 1em;
  min-height: 80%;
}
button {
  background-color:  #eee;
  border: 0;
  width: 30%;
  line-height: 2em;
}

input {
  font-size: 120%;
  max-width: 70%;
  margin: 1em;
  line-height: 2em;
  background-color: #6c7d84;
  border: 0;
  border-bottom: 3px solid #fff;
  text-align: center;
  color: #000;
}

.radios {
  text-align: left;
  margin: auto;
  width:80%;
}

.radios label {
  color: #000;
}

.hidden {
  display: none;
}

h2 {
  line-height: 1.5em;
  text-align: left;
}
textarea {
  min-height: 10em;
  min-width: 20em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #f00;
}

#verify {
  background-color: #ddd;
  max-width: 30em;
  margin: auto;
  border: 1px solid #000;
  padding-top: 1em;
  padding-bottom: 1em;
}
#verify a {
  font-size: 12px;
  padding: 3em;
}

#verify input {
  color: #fff;
}
}
@media(min-width:60em){[[html{font-size: 100%;}}