*{
	margin: 50px;
	padding: 0;
}
body {
	background: #91ccb6;
}

.picture{
	display: block;
	margin-left: 500px;
	margin-right: auto;
	margin-bottom: -50px;
}

h1{
	text-align:center;
	height: 0px;
	font-family: Asap, sans-serif;
  
  	
}

p {
	text-align: center;
	height: 0px;
	margin-top: -20px;
	
}

